@charset "UTF-8";

html {
    color: #000;
    height: 100%;
}

body {
    font-family: "Zen Maru Gothic", "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    /* font-family: 'DotGothic16', sans-serif; */
    font-weight: 500;
    line-height: 2;
    height: 100%;
}

#main {
    display: block;
}

/* aタグの設定 */
/* リンクには下線 */
a {
    color: #000;
    text-decoration: underline;
}

/* サイトに訪れた履歴があっても色を変えない */
a:visited {
    color: #000;
    text-decoration: none;
}
/* aタグの設定終わり */

img {
    height: auto;
    line-height: 1;
    max-width: 100%;
    vertical-align: top;
}

/* フッターの設定 */
#footer {
    line-height: 1;
    padding: 160px 0;
    text-align: center;
}

section{
    margin: 180px 0;
}

.header__wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.header__background{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__title{
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    font-size: 36px;
}

.header__icon{
    position: absolute;
    display: flex;
    width: 140px;
    justify-content: space-around;
    bottom: 5vh;
    right: 5vw;
}
.header__icon img{
    height: 32px;
    width: 32px;
}

.news__title{
    display: flex;
    width: 90vw;
    margin: 0 auto 32px;
    justify-content: space-between;
    align-items: center;
}
.news__title h2{
    font-size: 36px;
}
.news__title a{
    display: flex;
    align-items: center;
}
.news__title img{
    height: 22px;
    margin-right: 8px;
}

.news__card__wrapper{
    width: 90vw;
    margin: auto;
    display: flex;
}
.news__card{
    width: 25vw;
    margin: 0 16px;
}
.news__card__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.news__card__description{
    margin-bottom: 12px;
    line-height: 1.6;
}
.news__card__link{
    margin-bottom: 24px;
    display: block;
}
.news__card__date{
    border-top: solid 1px #000;
}

.about__description{
    width: 80vw;
    margin: auto;
}
.about__wrapper{
    display: flex;
    width: 80vw;
    margin: 64px auto 0;
}
.about__title{
    width: 20vw;
}
.about__text{
    width: 60vw;
}

.products__content{
    display: flex;
    width: 70vw;
    margin: 120px auto;
    position: relative;
}
.products__content--reverse{
    flex-direction: row-reverse;
}
.products__content__img{
    width: 40vw;
}
.products__content__textblock{
    width: 30vw;
    transform: translateX(-80px);
    background-color: #fff;
    margin: 5vw 0;
    padding: 42px;
}
.products__content__textblock--reverse{
    transform: translateX(80px);
}
.products__content__caption{
    position: absolute;
    top: 24px;
    left: -30px;
    font-size: 42px;
}
.products__content__caption--reverse{
    right: -30px;
    left: unset;
}
.products__content__title{
    font-size: 28px;
    font-weight: bold;
}
.products__content p{
    margin: 12px 0;
}

.feature__title{
    text-align: center;
    font-size: 32px;
}
.feature__content{
    display: flex;
    width: 80vw;
    margin: auto;
    margin-top: 120px;
}
.feature__content--reverse{
    flex-direction: row-reverse;
}
.feature__content__img{
    width: 50vw;
}
.feature__content__textblock{
    width: 20vw;
    margin: 5vw;
}
.feature__content__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}
.feature__content__description{
    line-height: 1.6;
}

.recipe__title{
    font-size: 48px;
    text-align: center;
}
.recipe__subtitle{
    font-size: 36px;
    text-align: center;
    margin-bottom: 36px;
}
.recipe__content{
    display: flex;
    width: 95vw;
    margin-left: 5vw;
}
.recipe__content__title{
    writing-mode: vertical-rl;
    border-top: solid 6px #000;
    padding-top: 24px;
    margin-right: 32px;
}
.recipe__content__title h4{
    font-size: 28px;
}
.recipe__content__list{
    display: flex;
    overflow: scroll;
}
.recipe__content__item{
    width: 30vw;
    margin-right: 24px;
    flex-shrink: 0;
}
.recipe__content__item h5{
    font-size: 24px;
}